body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #333;
}


h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: #ffffff;
}

.label{
    color: white;
    padding-bottom: 40px;
}

section {
  -webkit-box-shadow: -8px 4px 47px -4px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: -8px 4px 47px -4px rgba(0, 0, 0, 0.56);
  box-shadow: -8px 4px 47px -4px rgba(0, 0, 0, 0.56);
  margin: 0 auto 0 auto;
  border-radius: 20px;
  margin: 0 380px 0 380px;
}

.form {
  max-width: 400px;
  margin: auto;
  padding: 40px 0 40px 0;
}

.form-field {
  display: block;
  width: 80%;
  max-width: 80%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 60%;
  padding: 10px;
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
  transform: translateY(-3px);
  transition: 0.3s;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}
