body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #333;
}

body::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

/* Estilizando o botão de rolagem */
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(18, 18, 233), rgb(16, 16, 153), rgb(10, 10, 129)); /* Cor do botão de rolagem */
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #ffffff;
}

.label {
  color: white;
  padding-bottom: 20px;
  cursor: pointer;
  display: block;
}

section {
  -webkit-box-shadow: -8px 4px 47px -4px rgb(12, 12, 142);
  -moz-box-shadow: -8px 4px 47px -4px rgb(12, 12, 142);
  box-shadow: -8px 4px 47px -4px rgb(12, 12, 142);
  margin: 0 auto;
  border-radius: 20px;
  max-width: 600px;
  padding: 20px;
  background-color: #444;
}

.form {
  max-width: 100%;
  margin: auto;
  padding: 20px 0;
}

.form-field {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 1px 8px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.boxButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 150px;
  font-size: 15px;
  padding: 10px;
  margin-top: 10px;
  -webkit-box-shadow: -8px 4px 47px -4px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: -8px 4px 47px -4px rgba(0, 0, 0, 0.56);
  box-shadow: -8px 4px 47px -4px rgb(13, 13, 200);
  background-color: rgb(13, 13, 200);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons:hover {
  background-color: rgb(12, 12, 142);
  transform: translateY(-3px);
  transition: 0.3s;
}

input:focus {
  outline: 2px solid rgb(13, 13, 200);
}

button:focus {
  outline: 3px solid rgb(13, 13, 200);
}

img {
  height: 28px;
  width: 28px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#message {
  color: white;
  font-size: 20px;
}

#caixa-alerta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  margin: 30px auto;
  padding: 20px;
  border-radius: 6px;
  max-width: 600px;
}

.style-tabela {
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
  -webkit-box-shadow: -8px 4px 47px -4px rgb(12, 12, 142);
  -moz-box-shadow: -8px 4px 47px -4px rgb(12, 12, 142);
  box-shadow: -8px 4px 47px -4px rgb(12, 12, 142);
}

.style-tabela table {
  width: 100%;
  border: 1px solid #333;
  border-bottom: 0;
  border-right: 0;
  font-size: 16px;
  background-color: #2c2c2c;
}

.style-tabela table th, .style-tabela table td {
  padding: 0.5em;
  border: 1px solid #333;
  border-top: 0;
  border-left: 0;
  color: #ddd;
}

.style-tabela table th {
  background-color: #444;
  color: #fff;
  font-size: 1.2em;
}

.style-tabela table th.center, .style-tabela table td.center {
  text-align: center;
  font-weight: 500;
  font-size: 1em;
}

.style-tabela table td {
  background-color: #2c2c2c;
}

.style-tabela table tr:hover td {
  background-color: #3a3a3a;
  color: #fff;
}

.style-tabela table td .deletar {
  color: #bf303c;
  font-size: 1.2em;
  background-color: #2c2c2c;
  cursor: pointer;
  text-decoration: none;
}

.division {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 768px) {
  section {
    margin: 0 20px;
  }

  .boxButtons {
    gap: 5px;
  }

  .buttons {
    max-width: 100px;
  }

  #caixa-alerta {
    margin: 20px 10px;
    padding: 10px;
  }

  .style-tabela table th, .style-tabela table td {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .form {
    padding: 10px 0;
  }

  .form-field {
    width: 100%;
  }

  .buttons {
    width: 100%;
    max-width: 80px;
    font-size: 12px;
  }
}
